body {
  background-color: #121212;
  color: #fff;
}

#movies-item .nav-link {
  background-color: #E50914;
  color: white;
  border-radius: 50px;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

#movies-item .nav-link:hover {
  background-color: #B20710;
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.filter-section .form-label {
  color: #ccc;
  margin-bottom: 5px;
}

.filter-section select,
.filter-section input {
  background-color: #2a2a2a;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.filter-section #sortOrderBtn {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 5px;
}

.filter-section button {
  border-radius: 5px;
}

.filter-section {
  background-color: #1f1f1f;
  border-radius: 8px;
  padding: 20px;
}

.movie-list .card {
  background-color: #1f1f1f;
  border: none;
  border-radius: 8px;
  color: #ccc;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 550px;
  display: flex;
  flex-direction: column;
}

.movie-list .card img {
  border-radius: 8px 8px 0 0;
  height: 400px;
  object-fit: cover;
}

.movie-list .card-title {
  color: #fff;
  margin-top: 10px;
}

.movie-list .card-text {
  color: #aaa;
  margin-top: 5px;
  flex-grow: 1;
}

.movie-list .card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
