<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../static/css/Home.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/global.css" />
    <title>Trang chủ</title>
  </head>
  <body>
    <div class="Dashboard">
      Chung cư BlueMoon
      <div class="Dashboard__elements"><a href="">Thông tin dân cư</a></div>
      <div class="Dashboard__elements"><a href="">Thông tin hộ khẩu</a></div>
      <div class="Dashboard__elements"><a href="">Thông tin thu phí</a></div>
      <div class="Dashboard__elements"><a href="">Tin nhắn</a></div>
      <div class="Dashboard__elements"><a href="">Cài đặt</a></div>
    </div>
    <div class="Main">
      <div class="main_container">
        <div class="infor_Apart">
          <div class="infor_Apart_items">
            <div class="Icon"></div>
            <span class="label">Số nhân khẩu trong chung cư:</span>
            <span class="value">999</span>
          </div>
          <div class="infor_Apart_items">
            <div class="Icon"></div>
            <span class="label">Số hộ khẩu trong chung cư:</span>
            <span class="value">999</span>
          </div>
          <div class="infor_Apart_items">
            <div class="Icon"></div>
            <span class="label">Số nhân khẩu tạm trú:</span>
            <span class="value">999</span>
          </div>
          <div class="infor_Apart_items">
            <div class="Icon"></div>
            <span class="label">Số nhân khẩu tạm vắng:</span>
            <span class="value">999</span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
